.item {
	float:left;
	border:1px solid #ddd;
	margin-left:2em;
	padding:2em;
	width: 13em;
}

.item h3{
	padding:0;
	margin:0;
}

.item:hover {
	background-color: #eee;
}

.clear {
	float:none;
	clear:both;
}
.ontime {
	margin:0;
	font-size:0.8em;
}

.itemlink {
	color: #000;
}

.chart__loading {
	font-size: 2em;
    text-align: center;
    color: gray;
	border: 1px solid black;
}