[Unit]
Description=log dht22 sensor
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=300
ExecStart=/usr/bin/php /var/www/html/voltage/service/mysql-dht22.php

[Install]
WantedBy=multi-user.target
