[Unit]
Description=RMQ sensors watcher, push data in MySQL
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=300
ExecStart=/usr/bin/php /var/www/html/chart-ng/service/rmq.php

[Install]
WantedBy=multi-user.target
