[Unit]
Description=Watcher temperature sensors
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=300
ExecStart=/usr/bin/php /var/www/html/chart-ng/service/temperature.php

[Install]
WantedBy=multi-user.target
