[Unit]
Description=Watcher power sensor
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=60
ExecStart=/usr/bin/php /var/www/html/chart-ng/service/power.php

[Install]
WantedBy=multi-user.target
